:root
{
    --accentColor: #e0453a;
}

*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
}


/* ||COMMENTS AND STUFF||
*
*
*/

header
{
    z-index: 2;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    padding: 30px;
    background-color: #e0453a;
    color: #fff;
    position: fixed;
}

main
{
    display: flexbox;
    padding-top: 100px;
    font-size: 32px;
}

h1
{
    font-size: 200%;
    margin-left: 20px;
}

h2
{
    font-size: 120%;
}

.home
{
    background-image: url(https://pbs.twimg.com/media/FOzquG2X0AQuSG0?format=jpg&name=medium);
    background-repeat: no-repeat;
    background-position-y: -160px;
    background-size: cover;
    height: 200px;
}

.home-text
{
    display: flex;
    justify-content:end
}

.work
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    max-width: 2000x;
    min-width: auto;
}

.work img
{
    max-width: 100%;
    height: auto;
}

.first-work-image
{
    max-width: 100%;
}

.other-work-images
{
    max-width: 50%;
}

.work:hover
{
    background: linear-gradient(white, black);
}

nav ul
{
    display: flex;
    justify-content: space-between;
    min-width: 280px;
}

.contact a
{
    display: flex;
    flex-direction: row;
    color: var(--accentColor);
}

/* ||FIGURE THIS OUT LATER||
    ----------------------

@media screen and (max-width: 1080px) 
{
    
} 
*/