:root
{
    --accentColor: #e0453a;
}

*
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body
{
    display: flex;
    flex-direction: column;
}


/* ||COMMENTS AND STUFF||
*
*
*/

header
{
    z-index: 2;
    font-size: 20px;
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-items: center;
    padding: 2%;
    background-color: #e0453a;
    color: #fff;
    position: fixed;
}

main
{
    display: flexbox;
    padding-top: 10%;
    font-size: 32px;
    align-items: center;
}

h1
{
    font-size: 200%;
    margin-left: 20px;
}

h2
{
    font-size: 120%;
}


.work
{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    max-width: 800px;
    min-width: auto;
}

.work h2
{
    font-size: 100%;
}

.work ul::before
{
    content: 'Work';

}

img
{
    flex-direction: column;
    max-width: 100%;
    height: auto;
}

.work image:hover
{
    background: linear-gradient(white, black);
}

nav ul
{
    display: flex;
    justify-content: space-between;
    min-width: 280px;
}

/* ||FIGURE THIS OUT LATER||
    ----------------------

@media screen and (max-width: 1080px) 
{
    
} 
*/